{% extends 'layout.html' %}

{% block title %} <title>About</title> {% endblock %}

{% include 'includes/_navbar.html' %}
{% block content %}
  

<div class="hero-wrap hero-wrap-2" style="margin-bottom: 10px;">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
              <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">About Us</h1>
              <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/" >Home &rightarrow; </a></span> <span style="color: #cccccc;">About</span></p>
          </div>
      </div>
  </div>
</div>


<!--Help Section-->
<div class="help_head" style="padding-bottom: 20px;">
  <div>
      <h3 class="help_title">How We Can Help You</h3>
      <span style="font-weight: bolder; font-size: 30pt; color: #f18900;">&mdash;</span>
      <p style="color:#343a40; padding: 20px 50px;">IT'S MY GOAL TO CREATE A COMFORTABLE, SAFE ENVIRONMENT, WHERE WE'LL WORK TO ACHIEVE THE GOAL TOGETHER</p>
  </div>

    <div class="owl-carousel nonloop-block-14 " >
          
      <div class="help_service">
        <div>
            <div class="card" style="border: none;">
                <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                <div class="card-body" style="text-align: center; border: none;">
                  <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>              
          </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="help_service">
          <div>
              <div>
                  <div class="card" style=" border: none;">
                      <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                      <div class="card-body" style="text-align: center; border: none;">
                        <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="help_service">
            <div>
                <div>
                    <div class="card" style=" border: none;">
                        <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                        <div class="card-body" style="text-align: center; border: none;">
                          <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
          </div>
          <div class="help_service">
              <div>
                  <div>
                      <div class="card" style=" border: none;">
                          <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                          <div class="card-body" style="text-align: center; border: none;">
                            <h5 class="card-title" style="font-weight:bold ;">Marital Issues</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
    </div>
</div>


<!--About Head of Unit-->
<div class="dept_head">
  <div class="container">
      <div class="row dept_sub">
          <div class="col" >
            <img src="static/isolveit.jpg" alt="" width="450px" height="500px" class="dept_img">
          </div>
          <div class="col-6 dept_text">
              <h3>Dr. Cloe Brooks</h3><br>
              <h4>Expert Clinical Psychologist in Manhattan</h3><br><br>
              <p>I am a certified specialist in the branch of psychology concerned with the assessment and treatment of mental illness and behavioural problems.
                My other passion is publishing. 
                You can find and purchase all my books within this site.</p><br>
              <div>
                <img src="static/signature.png" alt="">
              </div>
          </div>
        </div>
  </div>
</div>

<!--Staff Section-->
<div class="staff_head">
  <div class="container ">
      <div class="row  staff_sub justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
              <h2 class="mb-4" style="padding-top: 20px;">Management and Staff</h2>
              <p>Meet Our Handworking and Commited Counsellors</p>
          </div>
      </div>
      <div class="card-deck">
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" width="100px" height="200px" alt="">
              <div class="card-body">
                  <h3 class="card-title">Uncle Osei</h3>
                  <h5 class="card-text">Staff</h5>
              </div>
          </div>
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" width="100px" height="200px" alt="">
              <div class="card-body">
                  <h3 class="card-title">Aunt Josephine</h3>
                  <h5 class="card-text">Staff</h5>
              </div>
          </div>
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" width="100px" height="200px" alt="">
              <div class="card-body">
                  <h3 class="card-title">Aunt Charlotte</h>
                  <h5 class="card-text">Staff</h5>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}





