{% extends 'layout.html' %}

{% block title %} <title>About</title> {% endblock %}

{% include 'includes/_navbar.html' %}
{% block content %}
  

<div class="hero-wrap hero-wrap-2" style="margin-bottom: 10px;">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
              <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">About Us</h1>
              <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/" >Home &rightarrow; </a></span> <span style="color: #cccccc;">About</span></p>
          </div>
      </div>
  </div>
</div>


<!--Help Section-->
<div class="help_head" style="padding-bottom: 20px;">
  <div>
      <h3 class="help_title">Counselling Services Available At the Unit</h3>
      <span style="font-weight: bolder; font-size: 30pt; color: #f18900;">&mdash;</span>
      <p style="color:#343a40; padding: 20px 50px;">IT'S OUR GOAL TO CREATE A COMFORTABLE, SAFE ENVIRONMENT, WHERE WE'LL WORK TO ACHIEVE THE GOAL TOGETHER</p>
  </div>

    <div class="owl-carousel nonloop-block-14 " >
          
      <div class="help_service">
        <div>
            <div class="card" style="border: none;">
                <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                <div class="card-body" style="text-align: center; border: none;">
                  <h5 class="card-title" style="font-weight:bold ;">Academic/Career Counselling</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Personal-Social Counselling</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>              
          </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Marriage and Family Counselling</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>

      <div class="help_service">
        <div>
            <div>
                <div class="card" style=" border: none;">
                    <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                    <div class="card-body" style="text-align: center; border: none;">
                      <h5 class="card-title" style="font-weight:bold ;">Group Counselling</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="help_service">
          <div>
              <div>
                  <div class="card" style=" border: none;">
                      <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                      <div class="card-body" style="text-align: center; border: none;">
                        <h5 class="card-title" style="font-weight:bold ;">Organization of Workshops, Seminars and Talk Sessions.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="help_service">
            <div>
                <div>
                    <div class="card" style=" border: none;">
                        <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                        <div class="card-body" style="text-align: center; border: none;">
                          <h5 class="card-title" style="font-weight:bold ;">Referral to others services</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
          </div>
          <div class="help_service">
              <div>
                  <div>
                      <div class="card" style=" border: none;">
                          <img src="static/isolveit.jpg" class="card-img-top" alt="..." style="width:200px; height:200px; border-radius:50%;margin: auto;">
                          <div class="card-body" style="text-align: center; border: none;">
                            <h5 class="card-title" style="font-weight:bold ;">Research on relevant Counselling issues</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
    </div>
</div>


<!--About Head of Unit-->
<div class="dept_head" style="height: max-content;">
  <div class="container">
      <div class="row dept_sub">
          <div class="col" >
            <img src="static/isolveit.jpg" alt="" width="450px" height="500px" class="dept_img">
          </div>
          <div class="col-6 dept_text">
              <h3>MRS. PATIENCE ARABA MBA</h3><br>
              <h4>Assistant Registrar</h3><br><br>
              <p>The University’s Counselling Unit is part of the Students Services, and our aim is to enable students achieve their academic and personal goals by providing confidential counselling and support for any difficulties encountered while at UPSA.</p><br>
              <div>
                <img src="static/signature.png" alt="">
              </div>
          </div>
        </div>
  </div>
</div>


<!--Staff Section-->
<div class="staff_head">
  <div class="container ">
      <div class="row  staff_sub justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
              <h2 class="mb-4" style="padding-top: 20px;">Management and Staff</h2>
              <p>Meet Our Handworking and Commited Counsellors</p>
          </div>
      </div>
      <div class="card-deck" style="text-align: left;">
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" style="width:200px; height:200px; margin:20px; border: double thick #f18900;" alt="">
              <div class="card-body">
                  <h3 class="card-title "><b>Uncle Osei</b></h3>
                  <h5 class="card-subtitle text-uppercase">Staff</h5><br>
                  <p class="card-text"> We are open to all members of the university regardless of ethnic, religious background, gender identity, sexual orientation, disability status.</p>
              </div>
          </div>
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" style="width:200px; height:200px; margin:20px; border: double thick #f18900;" alt="">
              <div class="card-body">
                  <h3 class="card-title "><b>Uncle Osei</b></h3>
                  <h5 class="card-subtitle text-uppercase">Staff</h5><br>
                  <p class="card-text"> We are open to all members of the university regardless of ethnic, religious background, gender identity, sexual orientation, disability status.</p>
              </div>
          </div>
          <div class="card">
              <img src="./static/isolveit.jpg" class="card-img-top" style="width:200px; height:200px; margin:20px; border: double thick #f18900;" alt="">
              <div class="card-body">
                  <h3 class="card-title "><b>Uncle Osei</b></h3>
                  <h5 class="card-subtitle text-uppercase">Staff</h5><br>
                  <p class="card-text"> We are open to all members of the university regardless of ethnic, religious background, gender identity, sexual orientation, disability status.</p>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}





