{% extends 'layout.html' %}

{% block title %} <title>Contact</title> {% endblock %}


{% block content %}
{% include 'includes/_navbar.html' %}


<div class="hero-wrap hero-wrap-2" style="margin-bottom: 10px;">
  <div class="overlay"></div>
  <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
              <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Contact Us</h1>
              <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="/" >Home &rightarrow; </a></span> <span style="color: #cccccc;">Contact</span></p>
          </div>
      </div>
  </div>
</div>

<!--Contact Section-->
<div class="contact_imgs">
  <div class="container">
      <div class="row contact_img_sub">
          <div class="col">
          <span class="icon-envelope-o" style="color: #000033; font-size: 50pt;"></span>
          <div style="padding-top: 20px;">
              <a href="mailto:counselling.unit@upsa.edu.gh" style="text-decoration: none; color: #f18900; font-size: 14pt;">counselling.unit@upsa.edu.gh</a><br>
              <a href="https://www.upsa.edu.gh/index.php/2017-01-29-09-57-06/counselling-gender-unit" style="text-decoration: none;color: #f18900; font-size: 14pt;">www.upsa.edu.gh</a>
          </div>
          </div>
          <div class="col">
          <span class="icon-phone_iphone" style="color: #000033; font-size: 50pt;"></span>
          <div style="padding-top: 20px;">
              <a href="tel:+233241843855" style="text-decoration: none; color: #f18900; font-size: 14pt;">+233 (0) 241843855</a><br>
              <a href="tel:+233240150540" style="text-decoration: none;color: #f18900; font-size: 14pt;">+233 (0) 240150540</a>
          </div>
          </div>
          <div class="col">
          <span class="icon-location-arrow" style="color: #000033;font-size: 50pt;"></span>
          <div style="padding-top:20px;">
              <p style="font-size: 14pt; color: #343a40;">South Wing (Rooms 17, 22 & 24) UPSA, Madina, Accra, Ghana </p>
          </div>
          </div>
      </div>
  </div>
</div>

<!--Contact Forms Section-->
<div class="contact_head">
  <div class=" container contact_sub">

      <div class="row justify-content-center">
          <div class="col-md-7">
          
          <h1 class="section-title mb-3" style="padding-top: 60px;">Contact Us Today</h1>
          <span style="font-weight: bolder; font-size: 30pt; color: #f18900;">&mdash;</span>

          <form action="" method="POST" class='contact_form' data-aos="fade" style="padding-bottom: 60px;">
            <div class="form-group row">
                <div class="col-md-12 mb-3 mb-lg-0">
                  {% include 'includes/_message.html'%}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                <input type="text" class="form-control" name="contactName" style="border-radius: 1.66em; box-sizing: border-box; padding: 30px;" maxlength="255" minlength="1" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                <input type="email" class="form-control" name="contactEmail" style="border-radius: 1.66em; box-sizing: border-box; padding: 30px;" maxlength="255" minlength="1" placeholder="E-mail" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" style="border-radius: 1.66em; box-sizing: border-box; padding: 30px;" placeholder="Subject" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                <textarea class="form-control" name="bodyInput" style="border-radius: 1.66em; box-sizing: border-box; padding-top: 20px;" cols="30" rows="5" maxlength="500" minlength="10" placeholder="Write your message here." required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" name="contactAgree" id="gridCheck" value="1" required>
                <label class="form-check-label" for="gridCheck">
                    I agree that my submitted data is being collected and stored
                </label>
                </div>
            </div>
            <button type="submit" class="btn  py-3 px-5" style="color:#ffffff;border-radius: 1.66em; padding: 1em 1em;background-color: #000033;">Send Message</button>
          </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}


