{% extends 'layout.html' %}

{% block title %} <title>My Account</title> {% endblock %}

{% block content %}
{% include 'includes/_sessionnavbar.html' %}


<div class="hero-wrap hero-wrap-2" style="margin-bottom: 10px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">My Account</h1>
                <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="#">Home
                            &rightarrow; </a></span> <span style="color: #cccccc;">My Account</span></p>
            </div>
        </div>
    </div>
</div>

<div class="dept_head" style="background-color: #e2f0f4; color:#000000; padding: 50px 0; height: max-content; ">
    <div class="container">
        <div>
            <div>
                <form action="" method="GET" class="profile">

                    <h4 style="color: #000033;" class="text-uppercase">Personal Information</h4>
                    <hr>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputLName">Last Name</label>
                            <input type="text" class="form-control" id="inputLName" placeholder="e.g.Kent"
                                maxlength="255" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputFName">First Name</label>
                            <input type="text" class="form-control" id="inputFName" placeholder="e.g.Brad"
                                maxlength="255" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputDOB">Date of Birth</label>
                            <input type="date" class="form-control" id="inputDOB" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Student Email</label>
                            <input type="email" class="form-control" id="inputEmail4"
                                placeholder="e.g.10087872@upsamail.edu.gh" maxlength="255">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail5">Optional Email</label>
                            <input type="email" class="form-control" id="inputEmail5" placeholder="example@gmail.com"
                                maxlength="255">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputLevel">Level</label>
                            <input type="number" class="form-control" id="inputLevel" placeholder="e.g.100"
                                maxlength="3" minlength="3" min="100" max="400" step="100" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputGender">Gender</label>
                            <select id="inputGender" class="form-control" required>
                                <option selected value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPhone">Phone Number</label>
                            <input type="text" class="form-control" id="inputPhone" placeholder="e.g.0554779365"
                                maxlength="10" minlength="10">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputAct">Account Created On</label>
                            <input type="date" class="form-control" id="inputAct" value="" readonly disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputProg">Programme of Study</label>
                        <input type="text" class="form-control" id="inputProg"
                            placeholder="e.g.BSc. Information Technology Management" maxlength="255">
                    </div>
                    <div class="form-group">
                        <label for="inputFaculty">Faculty</label>
                        <input type="text" class="form-control" id="inputFaculty"
                            placeholder="e.g.Faculty of Information Technology and Communication Studies"
                            maxlength="255">
                    </div>
                    <br><br>

                    <h4 style="color: #000033;" class="text-uppercase">Data Information</h4>
                    <hr>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputID">Student ID</label>
                            <input type="numeric" class="form-control" id="inputID" placeholder="10087872"
                                maxlength="10" minlength="10" readonly disabled required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password"
                                maxlength="255" minlength="8">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword"
                                placeholder="Confirm Password" maxlength="255" minlength="8">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6" style="padding-top:5px;">
                            <input type="submit" class="btn " value="Save Changes"
                                style="color:#ffffff;border-radius: 1.66em; padding: 1em 1em;background-color: #000033;">
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

{% endblock %}