{% extends 'layout.html' %}

{% block title %} <title>Reset Password</title> {% endblock %}

{% include 'includes/_sessionnavbar.html' %}
{% block content %}

<div class="hero-wrap hero-wrap-2" style="margin-bottom: 10px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" style="text-shadow: 2px 2px 7px #000000;">Forgot Password</h1>
                <p class="breadcrumbs" style="text-shadow: 2px 2px 7px #000000;"><span class="mr-2"><a href="#">Home
                            &rightarrow; </a></span> <span style="color: #cccccc;">Forgot Password</span></p>
            </div>
        </div>
    </div>
</div>
<div class="login_head" style="margin-bottom: 40px; height: max-content;"">
    <div class=" container login_sub">

    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card-header" style="border: none; margin-bottom: 5px;">
                <h2 class="section-title mb-3" style="padding-top: 80px; padding-bottom: 30px; text-align: left;">
                    Password Reset</h2>
                <p style="text-align: left;">Please fill the form to recover your password</p>

            </div>
            <form action="./user_dashboard.html" method="GET" class='login_form' data-aos="fade"
                style="padding-bottom: 60px;">
                <p style="text-align:left;">Fill with either your student e-mail or an optional e-mail address to
                    receive instructions on how to reset your password.</p>

                <div class="form-group row">
                    <div class="col-md-12 mb-3 mb-lg-0" style="text-align:left;">
                        <label for="emailInput" style="font-weight: bold;">Email</label>
                        <input type="email" class="form-control" name="email"
                            style="border-radius: 1.66em; box-sizing: border-box; padding: 30px;" id="emailInput"
                            placeholder="10087872@upsamail.edu.gh" required>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-6" style="padding-top:5px;">
                        <input type="submit" class="btn  py-3 px-5" value="Reset Password"
                            style="color:#ffffff;border-radius: 1.66em; padding: 1em 1em;background-color: #000033;">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}