{% if session.logged_in %}
<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='navlogo.png') }}" class="navbar_img" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="text-transform: uppercase;">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style="text-transform: uppercase;">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about" style="text-transform: uppercase;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="text-transform: uppercase;">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard" style="text-transform: uppercase;">Dashboard</a>
      </li>

    </ul>

  </div>

</nav>
{% else %}
  <!--Navbar-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='navlogo.png') }}" class="navbar_img" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="text-transform: uppercase;">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="text-transform: uppercase;">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about" style="text-transform: uppercase;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="text-transform: uppercase;">Contact</a>
        </li>

      </ul>

    </div>

  </nav>
{% endif %}
    



