{% if session.logged_in %}
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand dash_brand" href="/">
        <img src="{{ url_for('static', filename='upsa_logo.png') }}" class="dash_img" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard" style="text-transform: uppercase;">Dashboard<span
                class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="text-transform: uppercase;" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Appointment
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/appointment_reserved" style="text-transform: uppercase;">Appointment
                Reserved <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="text-transform: uppercase;" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Extra Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/" style="text-transform: uppercase;">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/about" style="text-transform: uppercase;">About</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/contact" style="text-transform: uppercase;">Contact</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="text-transform: uppercase;" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/setting/change_password" style="text-transform: uppercase;">Change
                Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout" style="text-transform: uppercase;">Logout</a>
            </div>
          </li>

          <li class="nav-item">
            <div class="container my_account">
              <div class="row">
                <div class="col-8" style="text-align: right; line-height: 4px; color:#000;">
                  <p><b>{{ session.username['lname'] }}</b></p>
                  <a href="./edit_profile.html" style="color:#000033">edit profile</a>
                </div>
                <div class="col-4" style="position: relative; top: -17px;">
                  <img src="{{ url_for('static', filename='avatar.png') }}" alt="" width="45px" height="45px"
                    style="border-radius:50%; border: solid medium #000033;">
                </div>
              </div>
            </div>
            <a class="nav-link edit_profile" href="./edit_profile.html" style="text-transform: uppercase;">My Account</a>
          </li>

        </ul>
      </div>
    </nav>
    
{% endif %}    



